# build output
build/
dist/
*.spec
icon.ico

# python
__pycache__/
*.py[cod]
.venv/
venv/

# editors / os
.vscode/
.idea/
.DS_Store
Thumbs.db

# closing backups written by the desktop window
backups/
